/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}













.background{
    background-color:rgb(249, 231, 187); ;
}

.navBar{
    position:fixed;
    background-color: rgb(217, 145, 29);
    width: 100%;
    z-index: 2;
}

#title{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 20px;
    padding: 10px;
    float: left;
    color: white;

}

.links{
    float: right;
    padding:10px;
}

.links a {
    font-family: Arial, sans-serif;
    font-size: 15px;
    padding: 0px 10px;
    color:azure;

    
}
#centerBox{
    position:absolute;
    width: 100%;
    text-align: center;
    top: 85px;
    
}

.contentBox{
    border: 3px solid orange;
    border-radius: 10px;
    height: 500px;
    width: 275px;
    margin: 0 10px;
    display: inline-block;
    background-color:rgb(255, 255, 255);
    

}
.contentBox h1{
    font-size: 30px;
    margin:20px;
    font-family:Arial, Helvetica, sans-serif;
    float: left;
    
}
.contentBox p{
    font-size: 0.7em;
    font-family: Georgia, Times, 'Times New Roman', serif;
    padding: 20px;
    clear:both;
    text-align: left;
    margin: 0 auto;
    

    
}

.infoBttn{
    position:relative;
    bottom:-25px;
    background-color: orange;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    padding:10px;
    border: 3px;
    border-radius: 5px;
    width: 80%;
    margin: 10px auto;
    color:white;
    font-size: 10px;
    clear:both;
    



}